.modal {
    font-family: 'poppins',sans-serif;
    position: absolute;
    width: 850px;
    height: 500px;
    top: 5%;
    right: 0;
    left: 15%;
    bottom: 0;
    border-radius: 20px;
    padding: 20px;
    .container{
        position: relative;
        width: 850px;
        height: 500px;
        background-color: white;
        box-shadow: 25px 30px 55px #5557;
        border-radius: 13px;
        overflow: hidden;
            .form-container{
                position: absolute;
                width: 60%;
                height: 100%;
                padding: 0 40px;
                transition: all 1s ease-in-out;
                button{
                    position: relative;
                    z-index: 1;
                    color: #520DA9;
                    margin-top: 17px;
                    transition: .5s;
                }
                .form{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 50px;
                    h1{
                        color: #520DA9;
                    }
                    .social-container{
                        margin: 20px 0;
                        a{
                            color: #520DA9;
                            border: 1px solid #DDD;
                            border-radius: 50%;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0px 5px;
                            height: 40px;
                            width: 40px;
                            transition: .5s ease-in-out;
                        }
                        a:hover{
                            color: white;
                            background-color: #520DA9;
                        }
                    }
                    span{
                        font-size: 12px;
                    }
                    .infield{
                        position: relative;
                        margin: 8px 0;
                        width: 100%;
                        input{
                            width: 100%;
                            padding: 12px 8px;
                            background-color: #f3f3f3;
                            border: none;
                            outline: none;
                        }
                            label{
                            position: absolute;
                            left: 50%;
                            top: 100%;
                            transform: translateX(-50%);
                            width: 0%;
                            height: 2px;
                            background-color: #520DA9;
                            transition: .3s;
                        }
                            input:focus~label{
                            width: 100%;
                        }
                    }
                    a{
                        color: #333;
                        font-size: 14px;
                        text-decoration: none;
                        margin: 15px 0;
                    }
                    .forgot{
                        padding-bottom: 3px;
                        border-bottom: 2px solid #EEE;
                    }
                    button{
                        border-radius: 20px;
                        border: 1px solid #520DA9;
                        color: #FFF;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 12px 45px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }
            }
            .sign-up-container{
                opacity: 0;
                z-index: 1;
            }
            .sign-in-container{
                z-index: 2;
            }
            .overlay-container{
                position: absolute;
                top: 0;
                left: 60%;
                width: 40%;
                height: 100%; 
                overflow: hidden;
                transition: transform 1s ease-in-out;
                z-index: 9;
                .overlay{
                    position: relative;
                    background-image: url('../public/bglogin.png');
                    background-size: cover;
                    color: #FFF;
                    left: -150%;
                    height: 100%;
                    width: 250%;
                    transition: transform 1s ease-in-out;
                    
                        
                    .overlay-panel{
                        position:absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 40px;
                        text-align: center;
                        height: 100%;
                        width: 340px;
                        transition: 1s ease-in-out;
                        h1{
                            color: white;
                            min-height: 100px;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 20px;
                            letter-spacing: .5px;
                            margin: 25px 0px 35px;
                            min-height: 60px;
                        }
                        button {
                            border: none;
                            background-color: transparent;
                            color: white;
                        }
                    }
                    .overlay-left{
                        right: 60%;
                        transform: translateX(-12%);
                    }
                    .overlay-right{
                        right: 0;
                        transform: translateX(0%);
                    }
                }
                #overlayBtn{
                    cursor: pointer;
                    position: absolute;
                    left: 50%;
                    top: 340px;
                    transform: translateX(-50%);
                    width: 143.67px;
                    height: 40px;
                    border: 1px solid #FFF;
                    background: transparent;
                    border-radius: 20px;
                }
            }
    }
    .right-panel-active .overlay-container{
        transform: translateX(-150%);
    }
    .right-panel-active .overlay{
        transform: translateX(50%);
    }
    .right-panel-active .overlay-left{
        transform: translateX(25%);
    }
    .right-panel-active .overlay-right{
        transform: translateX(35%);
    }
    .right-panel-active .sign-in-container{
        transform: translateX(20%);
        opacity: 0;
    }
    .right-panel-active .sign-up-container{
        transform: translateX(66.7%);
        opacity: 1;
        z-index: 5;
        animation: show 1s;
    }
        
  }
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(197, 196, 196, 0.247);
}











@keyframes show{
0%, 20%{
    opacity: 0;
    z-index: 1;
}
20%, 50%{
    opacity: 0;
    z-index: -1;
}
50.1%, 100%{
    opacity: 1;
    z-index: 5;
}
}
.boxScaled{
animation: scaleBox 1s;
}
@keyframes scaleBox{
0%{
    width: 340px;
}
50%{
    width: 640px;
}
100%{
    width: 340px;
}
}
.btnScaled{
animation: scaleBtn 1s;
}
@keyframes scaleBtn{
0%{
    width: 143.67px;
}
50%{
    width: 250px;
}
100%{
    width: 143.67px;
}
}